body {
    background: black;
}

.eye {
    position: absolute;
    border-radius: 50%;
    background-color: red;
    animation: rainbow 10s infinite alternate;
}

.pupil {
    position: relative;
    background: black;
    border-radius: 50%;
}

@keyframes rainbow { 
    0% { background-color: red; }
    20% { background-color: orange; }
    40% { background-color: yellow; }
    60% { background-color: green; }
    80% { background-color: blue; }
    100% { background-color: violet; }
}